*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  color:#3dffd4;
  background-color:#fff;
}
.center-container{
  max-width: 1200px;
  margin: 0 auto;
}
header{
  height: 100vh;
  background:url('./images/twentytwo.jpg') no-repeat center center/cover;
}
#top-bar{
  background-color: #ed8e53;



}
#top-bar .center-container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  border-bottom: 1px solid #ed8e53;

  padding-top: 10px;
  padding-bottom: 10px;

}
#pandemic img {
  width: 50%;

}


#logo{
  font-size: 40px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;

}
.primary-color{
  color: blue;
}
#top-bar ol{
  display: flex;
  list-style-type: none;
  font-weight: bold;
}


}
 nav ol li{
  list-style-type:none;
  display: inline-block;
  margin-right: 40px;
}
a{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
  padding: 5px;
}
a:hover{
  background-color: #3dffd4;
  padding: 5px;

}

nav ol li:last-child{
  margin-right: 0;
}
#hero{
  display: flex;
  flex-direction: column;
text-align: center;
  justify-content: center;
  align-items: : flex-end;
  height: 100%;
  padding-top: 100px;
}
header h1{
  text-align: center;
  font-size:60px;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #fff;

}
 #hero #button-1{
  text-align: center;
  background-color:blue;
  color:#fff;
  font-size: 25px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  width: 20%;
  margin-left: 500px;
}
main{
  margin: 0;
}
main h2{
  font-size: 40px;
}
#work-from-home{
  background-color: #3dffd4;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#work-from-home .center-container{
  display: flex;
  justify-content: space-evenly;




}
#health-section{
  background:url(./images/health.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 60vh;
}
#health-section .bta{
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
  padding: 4px 20px;
  background-color:#ed8e53 ;
  border-radius: 10px;
}
#education{
  background-color:#ed8e53;
  height: 50vh;

}
#education h2{
  color: #fff;
  font-size:40px;
  margin-left: 250px;
  padding-top: 140px;
  text-shadow: 2px 3px 3px #eee;
  font-weight: 700;
}


}
#button-1{
display: inline-block;
width: 10%;

}
#top-form{
  display: flex;
  justify-content: space-between;

}
.splitform{
  flex-basis: 50%;
}
input,textarea,button{
  width: 100%;
  padding: 7px;

  border: 1px solid orange;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 10px;
}
form{
  width: 600px;
  background-color:#3dffd4;
  margin-left: 200px;


}
#form-section h2{
  color: orange;
  margin: 0 0 0 300px;
  font-size: 40px;
  background-color: #3dffd4;
  display: inline-block;
}
form label{
  color:orange ;
  font-size: 22px;
  text-align: center;
  padding: 5px;
  font-weight: 700;
}
#form-section{
  margin-top: 100px;
}

 form #form-button{
  border: 4ps solid green;
  font-size: 22px;
  font-weight: 700;
  color: orange;

}
#main-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 20vh;
  background-color: blue;
  text-align: center;
  color: #fff;
  font-weight: 900;
}
